.register-container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
}
.register-container .register-page {
  /* width: 400px; */
  padding: 30px;
  box-shadow: 1px 1px 5px #344265;
  border-radius: 5px;
  background: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
.register-container .register-page h2 {
  text-align: center;
  margin-bottom: 20px;
  color: purple;
  text-decoration: underline;
}
.register-container .register-page .input-field {
  margin-top: 20px;
  position: relative;
}

.register-container .register-page .image-input-field {
  margin-top: 20px;
  position: relative;
}


.register-container .register-page .input-field input {
  width: 350px;
  height: 50px;
  border-radius: 6px;
  font-size: 18px;
  padding: 0 15px;
  border: 2px solid #344265;
  background: transparent;
  color: #344265;
  outline: none;
}

.register-container .register-page .image-input-field input {
  border: 0;
  background: transparent;
  color: #344265;
  outline: none;
  margin-left: 20px;
}

.register-container .register-page .input-field label {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #344265;
  font-size: 17px;
  pointer-events: none;
  transition: 0.3s;
}

.register-container .register-page input:focus {
  border: 2px solid #344265;
}
.register-container .register-page input:focus ~ label,
.register-container .register-page input:valid ~ label {
  top: 0;
  left: 15px;
  font-size: 15px;
  padding: 0 2px;
  background: white;
}

.register-container .register-page .links {
  margin-top: 20px;
}

.register-container .register-page .links a {
  font-size: 15px;
  margin-right: 10px;
}

.register-container .register-page .submit-button button {
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  background-color: purple;
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
  margin-top: 20px;
}

.register-container .register-page .submit-button button:hover {
  background-color: green;
}


.register-container .register-page .show-hide-pass-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: grey;
}